services:
  qdrant:
    image: qdrant/qdrant:latest
    container_name: qdrant
    ports:
      - "6333:6333"
    volumes:
      - qdrant_data:/qdrant/storage
    environment:
      QDRANT__SERVICE__HOST: "0.0.0.0"
      QDRANT__SERVICE__HTTP_PORT: "6333"
      QDRANT__SERVICE__API_KEY: supersecretkey
    restart: unless-stopped

  loader:
    build: ./loader
    container_name: imdb_loader
    volumes:
      - ./loader:/app        # mount local loader folder
    environment:
      QDRANT_HOST: qdrant
      QDRANT_PORT: "6333"
      QDRANT_API_KEY: supersecretkey
    depends_on:
      - qdrant
    command: ["python", "load_data.py"]
    restart: "no"            # run once, then exit

  app:
    build: ./app
    container_name: streamlit_app
    ports:
      - "8501:8501"
    volumes:
      - ./app:/app           # mount local app folder
    environment:
      QDRANT_HOST: qdrant
      QDRANT_PORT: "6333"
      QDRANT_API_KEY: supersecretkey
    depends_on:
      - qdrant
    restart: unless-stopped

volumes:
  qdrant_data: